.brand-secondary-nav{
	background-color: orangered;
}
.secondary-nav ul li{
	display: inline;
}
.site-branding{
	display: inline;
	padding-left: 50px;
}
.secondary-nav ul{
	display: inline;
	float: right;
}
.secondary-nav{
	display: inline;
	margin-left: 850px;
}
.secondary-nav ul a{
	padding-right: 20px;
}
.primary-nav ul li{
	display: inline;
}
.primary-nav a{
	margin-left: 10px;
	text-decoration: none;
}
#theme{
	color: orangered;
}
.slider-block{
	width: 1275px;
	height: 500px;
	background-color: aqua;
}
.slider-container{
	font-size: 30px;
	padding-top: 150px;
	padding-left: 50px;
}
.slider-container span{
	display: block;
}
.media-bodyfeature-text{
	display: inline;
}
.media{
	display: inline;
}
h3{
	display: inline;
}
.feature{
	display: inline-block;
	padding-left: 100px;
}
.features{
	margin-left: 40px;
	padding: 30px;
}
.feature-container{
	background-color: aliceblue;
}
h4{
	display: inline;
}
.banner-content{
	display: inline;
}
.banner{
	display: inline;
}
.banner-image{
	display: inline;
}
.banners{
	padding: 0;
}
.section-header h3{
	display: inline-block;
	padding-left: 560px;
}
.section-product-inner ul li{
	display: inline;
}

.product-inner{
	display: inline-block;
}
.section-product-inner ul{
	margin:0;
	padding-left: 125px;
}
.product-thumbnile{
	padding-right: 20px;
}
.action-buttons{
	padding-bottom: 20px;
	padding-left: 80px;
}
.price span{
	padding-left: 50px
}
.product-info h5{
	text-align: center;
}
.mogo-instagram-block h3{
	padding-left: 530px;
}
.photos li{
	display: inline;
}
.mogo-instagram-block ul{
	text-align: center;
}
.site-footer{
	background-color: red;
}
.copyrights-info{
	background-color: blue;
}
.footer-logo{
	display: inline;
}
.widget{
	display: inline-block;
}
.widget ul li{
	list-style-type: none;
}
